* {
    box-sizing: border-box;
}

body {
    color: #fff;
}

.gallery-tab-nav {
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
    margin-top: 50px;
}

.gallery-tab-nav ul {
    display: table-row;
    padding: 0px;
}

.gallery-tab-nav ul li {
    list-style-type: none;
    display: table-cell;
    vertical-align: middle;
    height: 60px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #fff;
    width: 33.33%;
}

.gallery-tab-nav ul li:hover,.gallery-tab-nav ul li.active {
    background-color: #fff;
    color: #000;
}
